<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    




    <!-- eğer development ise aşağıdakiler eklenir yoksa eklenmez..-->
    <environment include="Development">
        <title>MVC5 Ticari Otomasyon</title>
        <script src="~/lib/fontawesome-free-5.15.4-web/css/all.css"></script>
        <link href="~/css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <!--       
    çalışma ortamı, development, test ve production gibi kendi isimlendirmelerin olabilir.
        -->
    @await RenderSectionAsync("Head", required: false)

</head>
<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" asp-controller="home" asp-action="index">Ticari Otomasyon</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Aranacak kelimeyi girin..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Ayarlar</a></li>
                    <li><a class="dropdown-item" href="#!">Hesabım</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#!">Çıkış</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">İşlemler</div>
                        <a asp-controller="categories" asp-action="index" class="nav-link">
                            <div class="sb-nav-link-icon"><i class="fas fa-border-all"></i></div>
                            Kategoriler
                        </a>
                        <a asp-controller="products" asp-action="index" class="nav-link">
                            <div class="sb-nav-link-icon"><i class="fas fa-boxes"></i></div>
                            Ürünler
                        </a>
                        <a asp-controller="departments" asp-action="index" class="nav-link">
                            <div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>
                            Departmanlar
                        </a>
                        <a asp-controller="currents" asp-action="index" class="nav-link">
                            <div class="sb-nav-link-icon"><i class="fas fa-house-user"></i></div>
                            Cariler
                        </a>
                        <a asp-controller="employees" asp-action="index" class="nav-link">
                            <div class="sb-nav-link-icon"><i class="fas fa-clipboard-list"></i></div>
                            Personeller
                        </a>

                        <div class="sb-sidenav-menu-heading">Interface</div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-lock"></i></div>
                            Admin
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Yetkilendirme
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="login.html">Giriş yap</a>
                                        <a class="nav-link" href="register.html">Kayıt ol</a>
                                        <a class="nav-link" href="password.html">Şifremi unuttum</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                    Hata sayfaları
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="401.html">401 Page</a>
                                        <a class="nav-link" href="404.html">404 Page</a>
                                        <a class="nav-link" href="500.html">500 Page</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Rapor & Fatura</div>

                        <a asp-controller="salemovements" asp-action="index" class="nav-link">
                            <div class="sb-nav-link-icon"><i class="fas fa-calculator"></i></div>
                            Satışlar
                        </a>
                        <a asp-controller="bills" asp-action="index" class="nav-link">
                            <div class="sb-nav-link-icon"><i class="fas fa-cash-register"></i></div>
                            Faturalar
                        </a>

                        <a asp-controller="expenses" asp-action="index" class="nav-link">
                            <div class="sb-nav-link-icon"><i class="fas fa-money-check-alt"></i></div>
                            Giderler
                        </a>
                        <a asp-controller="cargo" asp-action="index" class="nav-link">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-pie"></i></div>
                            Kargolar
                        </a>
                        <a class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-receipt"></i></div>
                            Hareketler
                        </a>
                        <a class="nav-link" asp-controller="statics" asp-action="index">
                            <div class="sb-nav-link-icon"><i class="fas fa-database"></i></div>
                            İstatistikler
                        </a>

                        <a class="nav-link" asp-controller="statics" asp-action="simpletable">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-bar"></i></div>
                            Hızlı Bakış
                        </a>

                        <a class="nav-link" asp-controller="galleries" asp-action="index">
                            <div class="sb-nav-link-icon"><i class="fas fa-camera-retro"></i></div>
                            Galeri
                        </a>


                        <a class="nav-link" asp-controller="products" asp-action="list">
                            <div class="sb-nav-link-icon"><i class="fas fa-print"></i></div>
                            Pdf ~ Excel
                        </a>

                        <a class="nav-link" asp-controller="alerts" asp-action="index">
                            <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                            Alertler
                        </a>


                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/fontawesome-free-5.15.4-web/css/all.css"></script>
    <script src="~/lib/fontawesome-free-5.15.4-web/js/all.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" async defer></script>
    <!-- Scriptlerde async ve defer nedir?-->
    <!-- burası işte alt sayfalarda override etmeye yarıyor diyebiliriz.bu şekilde index ve delete html sayfaları yüklenince oradaki section Scripts kodları buraya geliyor. -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

