@model CoreMvcOnlineTicariOtomasyon.Models.SaleMovement

@{
    ViewData["Title"] = "Edit";
}


<h4>Satışı düzenle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
             <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                @Html.DropDownListFor(m => m.ProductId,(List<SelectListItem>)ViewBag.product, new {@class="form-control" })
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                @Html.DropDownListFor(m => m.EmployeeId,(List<SelectListItem>)ViewBag.employee, new {@class="form-control" })
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentId" class="control-label"></label>
                @Html.DropDownListFor(m => m.CurrentId,(List<SelectListItem>)ViewBag.current, new {@class="form-control" })
                <span asp-validation-for="CurrentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Listeye geri dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
